.git
.husky
.github
logo.svg
node_modules
README.md

# Ignores
.gitignore
.npmignore

# Configs
.babelrc
.editorconfig
.eslintrc.js
.prettierrc
jest.setup.ts
jest.config.ts
rollup.config.js
tsconfig.json

# Source
src

# Yarn generated
yarn-error.log
yarn.lock